/** ========== Global ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BPGExcelsior;
  src: url(./fonts/BPGExcelsior.ttf);
}

@font-face {
  font-family: KolkhetiMtav;
  src: url(./fonts/HkolkhetiMtav.ttf);
}

body {
  color: #8d97a0;
  background-color: #292d3e;
}

mark {
  color: mediumturquoise;
  font-weight: 500;
  background-color: transparent;
}

/** ========== Timeline ========== */
.container {
  display: flex;
  flex-direction: column;
}

.timeline {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.timeline:after {
  content: '';
  width: 6px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 50px;
  z-index: 1;
  background: #c5c5c5;
}

/** ========== Weeks ========== */
.week section {
  position: relative;
  margin-bottom: 30px;
}

.week ul,
h2 {
  margin-left: 100px;
}

.week ul {
  max-width: 40rem;
  min-width: 1rem;
  list-style-type: none;
}

.sticky-week {
  font-family: KolkhetiMtav;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: sticky;
  display: inline-block;
  background: black;
  border-radius: 3px;
  width: 80px;
  text-align: center;
  margin-left: 12px;
  top: 20px;
  color: #969696;
  padding: 6.5px 0 4px 0;
  z-index: 2;
}

.week h2 {
  font-family: KolkhetiMtav;
  padding-bottom: 10px;
}

.type-li-container {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.week li {
  font-family: BPGExcelsior;
  padding: 5px;
}

/** ========== Work Type Badges ========== */
.type-new::before,
.type-fixed::before,
.type-modified::before,
.type-breaking::before {
  font-family: Calibri;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 90%);
  display: flex;
  position: relative;
  top: -1.5px;
  border-radius: 3px;
  width: 55px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 2px;
}

.type-fixed::before {
  content: 'fixed';
  background-color: #4242f4;
}

.type-new::before {
  content: 'new';
  background-color: #05a87a;
}

.type-modified::before {
  content: 'modified';
  background-color: #9e8f2e;
}

.type-breaking::before {
  content: 'breaking';
  background-color: #ba0935;
}
